pipeline/MasterIncremental.json
{
	"name": "MasterIncremental",
	"properties": {
		"activities": [
			{
				"name": "Lookup Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "IncrementalConfig",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachConfigEntry",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Config').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Execute Pipeline Config",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "IncrementalPipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"TableName": {
										"value": "@{item().TableName}",
										"type": "Expression"
									},
									"NewTime": {
										"value": "@{item().NewTime}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Incremental"
		},
		"annotations": [],
		"lastPublishTime": "2021-03-23T21:02:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}